@layer props, normalize, default;

@import "https://unpkg.com/open-props" layer(props);
@import "https://unpkg.com/open-props/normalize.min.css" layer(normalize);

@layer default {
	html,
	body {
		height: 100%;
	}

	body {
		display: flex;
		flex-direction: column;
	}

	body > * {
		padding-inline: var(--size-fluid-4);
	}

	footer {
		margin-block-start: auto;
		padding-block: var(--size-fluid-3);
	}
}
