@layer reset, props, default, utility;

@import "https://unpkg.com/open-props/aspects.min.css" layer(props);
@import "https://unpkg.com/open-props/borders.min.css" layer(props);
@import "https://unpkg.com/open-props/gradients.min.css" layer(props);
@import "https://unpkg.com/open-props/shadows.min.css" layer(props);
@import "https://unpkg.com/open-props/gray.min.css" layer(props);
@import "https://unpkg.com/open-props/blue.min.css" layer(props);
@import "https://unpkg.com/open-props/grape.min.css" layer(props);

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Bold-Italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Getai Grotesk Display";
	src: url("/fonts/GetaiGroteskDisplay-Black.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@layer props {
	:root {
		--font-body: "Atkinson Hyperlegible", system-ui, sans-serif;
		--font-display: "Getai Grotesk Display", system-ui, sans-serif;

		/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,20,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
		--step--1: clamp(0.94rem, calc(0.91rem + 0.12vw), 1.00rem);
		--step-0: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
		--step-1: clamp(1.35rem, calc(1.27rem + 0.41vw), 1.56rem);
		--step-2: clamp(1.62rem, calc(1.49rem + 0.65vw), 1.95rem);
		--step-3: clamp(1.94rem, calc(1.75rem + 0.97vw), 2.44rem);
		--step-4: clamp(2.33rem, calc(2.05rem + 1.40vw), 3.05rem);
		--step-5: clamp(2.80rem, calc(2.40rem + 1.98vw), 3.82rem);

		--line-height-xs: 1;
		--line-height-s: 1.15;
		--line-height-m: 1.5;

		/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1140,20,1.25,5,1,&s=0.5,1.5|2|4|8, */
		--space-xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
		--space-s: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
		--space-m: clamp(1.69rem, calc(1.61rem + 0.37vw), 1.88rem);
		--space-l: clamp(2.25rem, calc(2.15rem + 0.49vw), 2.50rem);
		--space-xl: clamp(4.50rem, calc(4.30rem + 0.98vw), 5.00rem);
		--space-2xl: clamp(9.00rem, calc(8.61rem + 1.95vw), 10.00rem);

		/* One-up pairs */
		--space-xs-s: clamp(0.56rem, calc(0.29rem + 1.34vw), 1.25rem);
		--space-s-m: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
		--space-m-l: clamp(1.69rem, calc(1.37rem + 1.59vw), 2.50rem);
		--space-l-xl: clamp(2.25rem, calc(1.18rem + 5.37vw), 5.00rem);
		--space-xl-2xl: clamp(4.50rem, calc(2.35rem + 10.73vw), 10.00rem);
	}
}

@layer reset {
	* {
		margin: 0;
	}

	html,
	body {
		height: 100%;
	}
}

@layer default {
	:root {
		--surface-1: var(--gray-0);
		--surface-2: var(--gray-2);
		--surface-3: var(--gray-3);
		--surface-4: var(--gray-4);
		--text-1: var(--gray-6);
		--text-2: var(--gray-7);
		--text-3: var(--gray-9);
		--link: var(--blue-9);
		--link-visited: var(--grape-7);
	}

	html {
		background-color: var(--surface-1);
		color: var(--text-3);
	}

	body {
		display: flex;
		flex-direction: column;

		margin-inline: auto;
		width: clamp(15rem, 90vw, 75rem);
		padding-inline: var(--space-s);

		font-family: var(--font-body);
		font-size: var(--step-0);
		line-height: var(--line-height-m);
	}

	h1 {
		margin-block: var(--space-xl);
		font-size: var(--step-5);
		line-height: var(--line-height-xs);
	}

	h2 {
		margin-block-start: var(--space-xl);
		margin-block-end: var(--space-l);
		font-size: var(--step-4);
		line-height: var(--line-height-xs);
	}

	h3 {
		margin-block-start: var(--space-l);
		margin-block-end: var(--space-m);
		font-size: var(--step-3);
		line-height: var(--line-height-s);
	}

	p {
		max-width: 60ch;
	}

	p + p {
		margin-block-start: var(--space-s);
	}

	blockquote,
	figure {
		margin-block: var(--space-l);
	}

	figure {
		contain: content;
		border: var(--border-size-1) solid var(--surface-3);
		border-radius: var(--radius-2);

		background-color: white;
	}

	figure > * {
		padding: var(--space-m);
	}

	figcaption {
		margin-block-start: var(--space-xs);
		border-block-start: var(--border-size-1) solid var(--surface-3);
		padding-block: var(--space-xs);

		font-size: var(--step--1);

		background-color: var(--surface-2);
	}

	a {
		color: var(--link, inherit);
	}

	a:visited {
		color: var(--link-visited, inherit);
	}
}

@layer utility {
	.flow > * + * {
		margin-block-start: var(--space, var(--space-m));
	}
}
