@layer reset, props, config, default, layout, utility;

@import "open-props/aspects.min.css" layer(props);
@import "open-props/borders.min.css" layer(props);
@import "open-props/gradients.min.css" layer(props);
@import "open-props/shadows.min.css" layer(props);
@import "open-props/gray.min.css" layer(props);
@import "open-props/blue.min.css" layer(props);
@import "open-props/purple.min.css" layer(props);

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Italic.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Atkinson Hyperlegible";
	src: url("/fonts/AtkinsonHyperlegible-Bold-Italic.woff2") format("woff2");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "Getai Grotesk Display";
	src: url("/fonts/GetaiGroteskDisplay-Black.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@layer props {
	:root {
		--font-body: "Atkinson Hyperlegible", system-ui, sans-serif;
		--font-display: "Getai Grotesk Display", system-ui, sans-serif;

		/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,20,1.25,5,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
		--step--1: clamp(0.94rem, calc(0.91rem + 0.12vw), 1rem);
		--step-0: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
		--step-1: clamp(1.35rem, calc(1.27rem + 0.41vw), 1.56rem);
		--step-2: clamp(1.62rem, calc(1.49rem + 0.65vw), 1.95rem);
		--step-3: clamp(1.94rem, calc(1.75rem + 0.97vw), 2.44rem);
		--step-4: clamp(2.33rem, calc(2.05rem + 1.4vw), 3.05rem);
		--step-5: clamp(2.8rem, calc(2.4rem + 1.98vw), 3.82rem);

		--line-height-xs: 1;
		--line-height-s: 1.15;
		--line-height-m: 1.5;

		/* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1140,20,1.25,5,1,&s=0.5,1.5|2|4|8, */
		--space-xs: clamp(0.56rem, calc(0.54rem + 0.12vw), 0.63rem);
		--space-s: clamp(1.13rem, calc(1.08rem + 0.24vw), 1.25rem);
		--space-m: clamp(1.69rem, calc(1.61rem + 0.37vw), 1.88rem);
		--space-l: clamp(2.25rem, calc(2.15rem + 0.49vw), 2.5rem);
		--space-xl: clamp(4.5rem, calc(4.3rem + 0.98vw), 5rem);
		--space-2xl: clamp(9rem, calc(8.61rem + 1.95vw), 10rem);

		/* One-up pairs */
		--space-xs-s: clamp(0.56rem, calc(0.29rem + 1.34vw), 1.25rem);
		--space-s-m: clamp(1.13rem, calc(0.83rem + 1.46vw), 1.88rem);
		--space-m-l: clamp(1.69rem, calc(1.37rem + 1.59vw), 2.5rem);
		--space-l-xl: clamp(2.25rem, calc(1.18rem + 5.37vw), 5rem);
		--space-xl-2xl: clamp(4.5rem, calc(2.35rem + 10.73vw), 10rem);
	}
}

@layer reset {
	* {
		margin: 0;
	}

	html,
	body {
		height: 100%;
	}
}

@layer config {
	:root {
		--surface-1-light: var(--gray-0);
		--surface-2-light: white;
		--surface-3-light: var(--gray-2);
		--surface-4-light: var(--gray-4);
		--text-1-light: var(--gray-6);
		--text-2-light: var(--gray-7);
		--text-3-light: var(--gray-9);
		--link-light: var(--blue-8);
		--link-hover-light: var(--blue-9);
		--link-visited-light: var(--purple-7);
		--link-visited-hover-light: var(--purple-8);
		--gradient-light: var(--gradient-15);

		--surface-1-dark: var(--gray-9);
		--surface-2-dark: var(--gray-8);
		--surface-3-dark: var(--gray-7);
		--surface-4-dark: var(--gray-6);
		--text-1-dark: var(--gray-0);
		--text-2-dark: var(--gray-2);
		--text-3-dark: var(--gray-3);
		--link-dark: var(--blue-4);
		--link-hover-dark: var(--blue-3);
		--link-visited-dark: var(--purple-4);
		--gradient-dark: var(--gradient-3);
		--link-visited-hover-dark: var(--purple-3);

		--surface-1: var(--surface-1-light);
		--surface-2: var(--surface-2-light);
		--surface-3: var(--surface-3-light);
		--surface-4: var(--surface-4-light);
		--text-1: var(--text-1-light);
		--text-2: var(--text-2-light);
		--text-3: var(--text-3-light);
		--link: var(--link-light);
		--link-hover: var(--link-hover-light);
		--link-visited: var(--link-visited-light);
		--link-visited-hover: var(--link-visited-hover-light);
		--gradient: var(--gradient-light);
	}

	@media screen and (prefers-color-scheme: dark) {
		:root {
			--surface-1: var(--surface-1-dark);
			--surface-2: var(--surface-2-dark);
			--surface-3: var(--surface-3-dark);
			--surface-4: var(--surface-4-dark);
			--text-1: var(--text-1-dark);
			--text-2: var(--text-2-dark);
			--text-3: var(--text-3-dark);
			--link: var(--link-dark);
			--link-hover: var(--link-hover-dark);
			--link-visited: var(--link-visited-dark);
			--link-visited-hover: var(--link-visited-hover-dark);
			--gradient: var(--gradient-dark);
		}
	}
}

@layer default {
	html {
		background-color: var(--surface-1);
		color: var(--text-3);
	}

	body {
		display: flex;
		flex-direction: column;

		margin-inline: auto;
		width: clamp(15rem, 90vw, 75rem);
		padding-inline: var(--space-s);

		font-family: var(--font-body);
		font-size: var(--step-0);
		line-height: var(--line-height-m);
	}

	h1 {
		margin-block-end: var(--space-xl);
		font-size: var(--step-5);
		line-height: var(--line-height-xs);
	}

	h2 {
		margin-block-start: var(--space-xl);
		margin-block-end: var(--space-l);
		font-size: var(--step-4);
		line-height: var(--line-height-xs);
	}

	h3 {
		margin-block-start: var(--space-l);
		margin-block-end: var(--space-m);
		font-size: var(--step-3);
		line-height: var(--line-height-s);
	}

	aside,
	p {
		max-width: 60ch;
	}

	p + p,
	* + ul,
	* + ol {
		margin-block-start: var(--space-s);
	}

	aside,
	blockquote,
	figure {
		margin-block: var(--space-l);
	}

	figure {
		contain: content;
		border: var(--border-size-1) solid var(--surface-4);
		border-radius: var(--radius-2);

		background-color: var(--surface-2);
	}

	figure > * {
		padding: var(--space-m);
	}

	aside,
	figcaption {
		font-size: var(--step--1);
		background-color: var(--surface-3);
	}

	figcaption {
		margin-block-start: var(--space-xs);
		padding-block: var(--space-xs);
		border-block-start: var(--border-size-1) solid var(--surface-4);
	}

	aside {
		padding: var(--space-m);
		border-radius: var(--radius-2);
	}

	blockquote {
		font-size: var(--step-3);
		font-style: italic;
		line-height: var(--line-height-s);
		color: var(--text-2);
	}

	pre {
		overflow-x: auto;
	}

	:not(pre) > code {
		background-color: var(--surface-3);
		border-radius: var(--radius-2);
		padding: 0.125em 0.5em;
	}

	a {
		color: var(--link, inherit);
		transition: color 200ms linear;
	}

	a:hover {
		color: var(--link-hover);
	}

	a:visited {
		color: var(--link-visited, inherit);
	}

	a:visited:hover {
		color: var(--link-visited-hover);
	}

	:is(a, button, input, textarea):focus {
		outline: 0.25em solid var(--link-hover);
		outline-offset: 0.25em;
		border-radius: var(--radius-1);
	}

	:is(a, button, input, textarea):focus:not(:focus-visible) {
		outline: none;
	}

	:is(a, button, input, textarea):focus-visible {
		outline: 0.25em solid var(--link-hover);
		outline-offset: 0.25em;
		border-radius: var(--radius-1);
	}

	[id] {
		scroll-margin-top: 2ex;
	}

	[role="list"] {
		padding: 0;
		list-style: none;
	}

	[href="#skip"] {
		position: absolute;
		left: 50%;
		top: 0;
		transform: translate(-50%, -100%);
		border-radius: 4px;
		padding: var(--space-xs) var(--space-s);
		background-color: var(--surface-2);
		text-decoration: none;
		opacity: 0;
		transition-property: top, transform, opacity;
		transition-duration: 300ms;
		transition-timing-function: ease;
	}

	[href="#skip"]:focus {
		outline-offset: 0;
		transform: translate(-50%, 0);
		top: var(--space-m);
		opacity: 1;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		html:focus-within {
			scroll-behavior: smooth;
		}
	}
}

@layer layout {
	[data-layout="cluster"] {
		gap: var(--space, var(--space-m));
		align-items: center;
		flex-wrap: wrap;

		display: flex;
	}
}

@layer utility {
	.flow > * + * {
		margin-block-start: var(--space, var(--space-m));
	}

	.mbs-xl {
		margin-block-start: var(--space-xl);
	}
	.mbs-l {
		margin-block-start: var(--space-l);
	}
}
